@use 'colors';

.button {
  height: 4rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.1666rem;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: colors.$c-surface;
  padding: 0 2.33rem;

  &:active, &.active {
    background-color: colors.$c-accent;
  }
}

.button-set {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
