$c-black: #000;
$c-white: #fff;
$c-gray: #999;
$c-beige: #e8e1d7;
$c-tan: #dbc0a7;
$c-orange: #ff6835;
$c-light-blue: #bad6e2;
$c-bg-primary: $c-beige;
$c-surface: $c-tan;
$c-accent: $c-orange;
$c-bg-secondary: $c-light-blue;


