$c-black: #000;
$c-white: #fff;
$c-gray: #999;
$c-beige: #faece0;
$c-tan: #e2b799;
$c-orange: #ff6835;
$c-light-blue: #bfd9f3;
$c-bg-primary: $c-beige;
$c-surface: $c-tan;
$c-accent: $c-orange;
$c-bg-secondary: $c-light-blue;


