.icon-step {
  background-image: url('../../static/img/play.svg');
  background-position: 60% center;
}

.icon-pause {
  background-image: url('../../static/img/pause.svg');
  background-size: 80%;
}

.icon-run {
  background-image: url('../../static/img/ff.svg');
  background-position: 60% center;
}

.icon-reset {
  background-image: url('../../static/img/reset.svg');
  background-position: 45% center;
}
